doctype html
html(ng-app='tictactoeapp')
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js')
		script(src='/js/controller.js')
	body(ng-controller="ttListCtrl")
		h1 Tic Tac Toe Application
		section( class="tiledesgn")
			button(ng-repeat= "tile in tiles", ng-click="assignValue(tile)", ng-disabled = "{{isDisabled}}") {{tile.player}}
		button(ng-click="createNewGame()") NewGame
		h2 {{status}}